<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        input,button,h1 {
            font-size: 33px;
        }
    </style>
</head>
<body>
    <h1>What is your UserName?</h1>
    <form  action="/" method="post">
    <input type="text" style="margin-bottom: 15px;" name="username" placeholder="Insert you UserName"><br>
    <input type="email" style="margin-bottom: 15px;" name="email" placeholder="Your Email"><br>
    <input type="job" style="margin-bottom: 15px;" name="job" placeholder="Your Job"><br>
    <input type="tel" style="margin-bottom: 15px;" name="tel" placeholder="Your Ohone number"><br>
 
    <button>Send To DB</button><br> <br> 
    
    </form>
    
</body>
</html